
html
{
    scroll-behavior: auto !important;
}
* {
    font-family: 'Roboto', sans-serif;
    }

.navbar
{
    position: fixed;
    width: 100vw;
    z-index: 1;
    background: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}




p{color: white;
}

section,nav { 
    padding: 20px 100px;
}

p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1rem;
    
}

.row {
    display: flex;
   
}